<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond $1 !^(assets|robots\.txt|index\.php|files|uploads) [NC]
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

<IfModule mod_security.c>
 SecFilterScanPost
</IfModule>